@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

#header {
  font-size: 3em;
  text-transform: uppercase;
  padding: 2em;
}
.container {
  position: relative;
}

.country {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-shadow: #ffffff 1px 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3em 8em;
  letter-spacing: 0.5em;
  z-index: 2;
}
p {
  padding: 5em 3em;
}
img {
  width: 100%;
  opacity: 0;
}
.animate-me {
}

.visible {
  animation: showUs 3s forwards;
}
@keyframes showUs {
  to {
    opacity: 1;
  }
}
